.friendList {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 50px;
}

.status {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.online {
    background-color: green;
}

.offline {
    background-color: red;
}

.item {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: rgb(16, 16, 78);
}
.userIcon {
    background-color: lightgray;
    padding: 5px;
    width: 50px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.userName {
    color: white;
}